.Login-Logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: url('../images/logo/YourRoutinelogo.png');
    background-size: 100px 100px;
    background-repeat: no-repeat;
    background-position: center;
}